{% extends 'base.html' %}
{% block title %}All Entries{% endblock %}

{% block body %}


<h2>Navigation</h2>
  <ul>
    <h3>Global Feed</h3>
    <li><a href="/">Homepage</a></li>
    <li><a href="/users">View all users</a></li>
    <li><a href="/entries">View all entries feed</a></li>

    <h3>Personal Suitcase</h3>

    <li><a href="/map">Add to your map</a></li>
    <li><a href="/your_entries">Edit Your Entries</a></li>
  </ul>
  

  <h1>All Users' Entries</h1>

  <p>
    <ul>
    {% for entry, count in entries %}
    <li>
            <b>
              Number of Likes: {{count}}
            </b>

            <a href="/entries/view_only/{{ entry.entry_id }}">
              
              {{entry.title}}
            </a>
              {{entry.blog[:100]}}
              {{entry.created_at}}

               {%for p in entry.photos%}

               <img src="{{p.photo_url}}">

           {% endfor %}

          </li>
          </p>


    {% endfor %}
  </ul>
{% endblock body %}