{% extends 'base.html' %}
{% block title %}All Cities{% endblock %}

{% block body %}


<div class="container-fluid padding">
  <div class="row padding">
      <div class="col-md-12 col-lg-6">


  <h1>All Cities</h1>

  <ul>
    {% for city in cities %}
      <li>
        <a href="/cities/{{ city.city_id }}">
          {{ city.city_id}}
          {{ city.city_name }}
          {{ city.geo_lat }}
          {{ city.geo_lng }}
        </a>
      </li>
    {% endfor %}
  </ul>


</div>
</div>
</div>

{% endblock body %}