{% extends 'base.html' %}
{% block title %}All Cities{% endblock %}

{% block body %}


<div class="container-fluid padding">
  <div class="row padding">
      <div class="col-md-12 col-lg-6">


  <h5>All Cities</h5>

  <ul>
    {% for city in cities %}
      <li>
        <a href="/cities/{{ city.city_id }}">
          {{ city.city_id}}
          {{ city.city_name }}
          {{ city.geo_lat }}
          {{ city.geo_lng }}
        </a>
      </li>
    {% endfor %}
  </ul>


</div>
</div>
</div>



<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>


<script src="/static/js/city_autocompletion.js"></script>

{% endblock body %}