{% extends 'base.html' %}
{% block title %}All Users{% endblock %}

{% block body %}



<div class="container-fluid padding">

<div class="row test-center padding">

 
<br>
    {# <ul> #}
        {% for user in users %}


              <div class="col-xs-12 col-sm-6 col-md-4">
{#          
              <li>  <img src="https://source.unsplash.com/random" width="300" height="300"></li> #}

            
            <h3><a href="/users/{{ user.user_id }}"> {{user.username}} </a></h3>

            {%for p in user.profiles%}

            {%if p.description%} 

             {{p.description}}
{#                 <br> Instagram Handle: {{user.profiles.instagram}}</br>
                <br> Twitter Handle: {{user.profiles.twitter}}</br>
                <br> Personal Portfolio: {{user.profiles.website}}</br> #}
            {%endif%}


            <br>

             {%if p.profile_photo%} 
                <img src="{{p.profile_photo}}" width="300" height="300" alt="Avatar" class="avatar-img">
                <br></br>

             {%endif%}

            </br>
            {% endfor %}

                  
                    
          </div>


        {% endfor %}
{#   </ul> #}

</br>
</div>

</div>



{% endblock body %}

