{% extends 'base.html' %}


{% block title %}All Entries{% endblock %}

{% block body %}













<div class="container-fluid padding">
  <div class="row welcome text-center">
      <div class="col-md-12">


</div>
</div>
</div>

{# <---- cards ---> #}

<div class="container-fluid padding">
<div class="row padding">

<br>


  
    {% for entry, count in entries %}


          {%for p in entry.photos%}
          <div class="col-xs-12 col-sm-6 col-md-4">

              <img src="{{p.photo_url}}" width="500" height="350" id="rcorners3">
                {% endfor %}
                
{#               <div class="card-body"> #}


                <h4 class="card-title">    <a href="/entries/view_only/{{ entry.entry_id }}">{{entry.title}}    </a></h4>


                    <b>
                      Number of ♡: {{count}}
                    </b>

                    <br></br>

                    
                    {{entry.blog[:250]}}
          {#               {{entry.created_at}} #}
                  <br></br>
                
              
               <a href="/users/{{ entry.user_id }}" class="btn btn-outline-secondary"> See Profile </a>

          </div>


    {% endfor %}

</br>
      </div>



 
<hr class="my-4">


</div>




<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>


<script src="/static/js/city_autocompletion.js"></script>

{% endblock body %}

