{% extends 'base.html' %}
{% block title %}All Entries{% endblock %}

{% block body %}


<div class="container-fluid padding">
  <div class="row padding">
      <div class="col-md-12 col-lg-6">
  

  <h5>{{city.city_name}} Entries</h5>

  <p>
    <ul>
    {% for entry, count in entries_with_ratings %}

           <li>
            <b>
              Number of Likes: {{count}}
            </b>

            <a href="/entries/view_only/{{ entry.entry_id }}">
              
              {{entry.title}}
            </a>
              {{entry.blog[:100]}}
              {{entry.created_at}}

               {%for p in entry.photos%}

               <img src="{{p.photo_url}}" width="700" height="500">

           {% endfor %}

          </li>
          </p>

    {% endfor %}
  </ul>

</p>
</div>
</div>
</div>

{% endblock body %}