{% extends 'base.html' %}

{% block title %}{{ entry.entry_id }} 

Blog Entry 

{% endblock %}

{% block body %}

<div class="container-fluid padding">
  <div class="row padding">
      <div class="col-lg-6">


<h2>Entry for: <a href="/entries/city_specific/{{ city.city_id }}">
          
          {{ city.city_name }}
        </a></h2>


<h1>Created at : {{created_at }}</h1>
<br>

<p>


 <main class="form">
      <div class="contact-form" >
        <form action = "/entries/{{entry.entry_id}}/update" method="POST" enctype=multipart/form-data id="form" >


            </div>
          </div>

          <div class="mb-3">
            <label for="blog_entry" class="lead">Your blog title</label>
            <textarea id="blog_title" name = "blog_title" class="blog_title">

              {%if entry.title%}
              {{entry.title}}

              {%endif%}
            </textarea>
          </div>


          <div class="mb-3">
            <label for="blog_entry" class="lead">Your blog here:</label>
            <textarea id="blog_entry" name="blog_entry" class="form-control" rows="4">

              {%if entry.blog%}
              {{entry.blog}}

              {%endif%}
            </textarea>

          </div>

            <div class="mb-3">

            <label for="image_upload" class="lead">Upload your photos</label>
           
                    <input id= 'image-upload' type=file name=image_upload>

          </div>


          <hr class="my-4">
          <input type = "submit" id = "file_submit" class="mb-3 btn btn-primary btn-lg btn-block">
        </form>

      </div>
    </main>

  <h2>{{entry.title}}</h2>

  {{ entry.blog }}


{%if photo%} 
  {%for p in photo%}

<div>
      <div class="col-lg-6">

       <img src="{{p.photo_url}}" width="700" height="500" class="img-fluid">
       <button id="{{p.photo_id}}" class ="photo_delete"> delete </button>  

</div>

  {%endfor%}

  </div>


{%endif%}


</p>
</br>
</div>
</div>
</div>

<!-- Scripts -->

<script src="/static/js/photoupload.js"></script>

{% endblock %}