{% extends 'base.html' %}

{% block title %}{{ entry.entry_id }} 

Blog Entry 

{% endblock %}

{% block body %}



<h2>Navigation</h2>
  <ul>
    <h3>Global Feed</h3>
    <li><a href="/">Homepage</a></li>
    <li><a href="/users">View all users</a></li>
    <li><a href="/entries">View all entries feed</a></li>

    <h3>Personal Suitcase</h3>

    <li><a href="/map">Add to your map</a></li>
    <li><a href="/your_entries">Edit Your Entries</a></li>
  </ul>



<h1>Entry for: <a href="/entries/city_specific/{{ city.city_id }}">
          
          {{ city.city_name }}
        </a></h1>

<h1>Created at : {{created_at }}</h1>

<p>


 <main class="row mx-5 py-4">
      <div class="col-8 mx-auto p-3 contact-form" >
        <form action = "/entries/{{entry.entry_id}}/update" method="POST" enctype=multipart/form-data id="form" >


            </div>
          </div>

          <div class="mb-3">
            <label for="blog_entry" class="lead">Your blog title</label>
            <textarea id="blog_title" name = "blog_title" class="blog_title">

              {%if entry.title%}
              {{entry.title}}

              {%endif%}
            </textarea>
          </div>


          <div class="mb-3">
            <label for="blog_entry" class="lead">Your blog here:</label>
            <textarea id="blog_entry" name="blog_entry" class="form-control" rows="4">

              {%if entry.blog%}
              {{entry.blog}}

              {%endif%}
            </textarea>

          </div>

            <div class="mb-3">

            <label for="image_upload" class="lead">Upload your photos</label>
           
                    <input id= 'image-upload' type=file name=image_upload>

          </div>


          <hr class="my-4">
          <input type = "submit" id = "file_submit" class="mb-3 btn btn-primary btn-lg btn-block">
        </form>

      </div>
    </main>

  <h2>{{entry.title}}</h2>

  {{ entry.blog }}


{%if photo%} 
  {%for p in photo%}

<div>

       <img src="{{p.photo_url}}">
       <button id="{{p.photo_id}}" class ="photo_delete"> delete </button>  

</div>

  {%endfor%}


{%endif%}


</p>
<!-- Scripts -->

<script src="/static/js/photoupload.js"></script>

{% endblock %}