{% extends 'base.html' %}

{% block title %}

{{ entry.city.city_name }} 

Blog Entry 

{% endblock %}

{% block body %}

{# <div class="container-fluid padding">
  <div class="row padding">
      <div class="col-lg-6">
 #}




  <h1>{{entry.title}}</h1>

  <p>

          <h3>Entry for: <a href="/entries/city_specific/{{ city.city_id }}">
                    {{ city.city_name }}</a></h3>


          <h5>Created at : {{created_at }}</h5>
  </p>

<div class="container-fluid padding">
<div class="row welcome text-center">



<p>
  {{ entry.blog }}
</p>

{%if photo%} 




  {%for p in photo%}

<div>


       <img src="{{p.photo_url}}" width="700" height="500" class="center" id="rcorners3">
       <button id="{{p.photo_id}}" class ="btn btn-outline-secondary btn-lg photo_delete"> delete </button>  


  {%endfor%}

</div>


{%endif%}


</p>

</div>
</div>


{#  the form
 #}

<div class="container-contact100">
    <div class="wrap-contact100">

{#         <span class="contact100-form-title"> #}

{#           <h3>Entry for: <a href="/entries/city_specific/{{ city.city_id }}">
                    
                    {{ city.city_name }}</a></h1>


          <h5>Created at : {{created_at }}</h3> #}
{#         </span> #}



        <br>

    <p>
     <main class="form">
      <div class="contact-form" >
      <form action = "/entries/{{entry.entry_id}}/update" method="POST" enctype=multipart/form-data id="form" class="contact100-form validate-form">


              <div class="wrap-input100 validate-input" data-validate="Name is required">
              <br>
                <span class="label-input100">Your Blog Title</span>
              </br>
                  
                  <textarea class="blog_title" type="text" name="blog_title" id= "blog_title"placeholder="blog_title">
                      {%if entry.title%}
                           {{entry.title}}

                      {%endif%}
                  </textarea>


              <span class="focus-input100"></span>
              </div>



              <div class="wrap-input100 validate-input" data-validate = "Message is required">
              <br>
                <span class="label-input100">Blog Entry</span>
              </br>
                      <textarea class="blog_entry" name="blog_entry" id= "blog_entry">
                          
                          {%if entry.blog%}
                               {{entry.blog}}

                          {%endif%}

                      </textarea>
              <span class="focus-input100"></span>
              </div>



            <div>
            <label for="image_upload" class="lead">Upload your photos</label>
               
            <input id= "image-upload" type="file" name="image_upload">
            </div>

            <input type = "submit" id = "file_submit" class="btn btn-primary btn-lg">
      </form>
  </div>
</main>
</p>





{# </div>
</div>
</div> #}

<!-- Scripts -->
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>


<script src="/static/js/city_autocompletion.js"></script>

<script src="/static/js/photoupload.js"></script>

{% endblock %}