{% extends 'base.html' %}
{% block title %}Bonvoyaj{% endblock %}


{%block head%}


{# 
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" /> #}

{# 
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-typeahead/2.11.0/jquery.typeahead.js"></script> 

{# <script src="/static/js/typeahead.bundle.js"></script> #}



{%endblock%}

{% block body %}


{# <-- Image Slider -->  #}

<div id="slides" class="carousel slide" data-ride="carousel">
  <ul class="carousel-indicators">

    <li data-target="#slides" data-slide-to="0" class="active"></li>
    <li data-target="#slides" data-slide-to="1"></li>
    <li data-target="#slides" data-slide-to="2"></li>
    <li data-target="#slides" data-slide-to="3"></li>
{#   <li data-target="#slides" data-slide-to="4"></li>
  <li data-target="#slides" data-slide-to="5"></li>
  <li data-target="#slides" data-slide-to="6"></li>
  <li data-target="#slides" data-slide-to="7"></li> #}

</ul>

<div class="carousel-inner">

  <div class="carousel-item active">
    <img class="card-img-top" src="static/img/background8.png" width="1000" height="1000">
    <div class="carousel-caption"> 
      <h7 class ="display-3"> Create a home for your travels</h7>
      <h3 style="color: white"> Tell Your Story. Add Photos. Pin Your Cities. </h3>

    <button type="button" class="btn btn-outline-light btn-lg" style="color: #BDE0EF"> 
      <a href="/entries"> EXPLORE DESTINATIONS</a>
    </button>

    <button type="button" class="btn btn-primary btn-lg"> 
      <a href="/users"> VIEW COMMUNITY</a>
    </button>



   </div>
 </div>



 <div class="carousel-item">

  <img class="card-img-top" src="/static/img/background14.png" width="1000" height="1000">
  <div class="carousel-caption"> 
    <h7 class ="display-3"> Create a home for your travels</h7>
    <h3 style="color: white"> Tell Your Story. Add Photos. Pin Your Cities. </h3>

    <button type="button" class="btn btn-outline-light btn-lg" style="color: #BDE0EF"> 
      <a href="/entries"> EXPLORE DESTINATIONS</a>
    </button>

    <button type="button" class="btn btn-primary btn-lg"> 
      <a href="/users"> VIEW COMMUNITY</a>
    </button>

  </div>
</div>

<div class="carousel-item">
  <img class="card-img-top" src="/static/img/background3.png" width="1000" height="1000">
  <div class="carousel-caption"> 
    <h7 class ="display-3"> Create a home for your travels</h7>
    <h3 style="color: white">Tell Your Story. Add Photos. Pin Your Cities. </h3>
    <button type="button" class="btn btn-outline-light btn-lg" style="color: #BDE0EF"> 
      <a href="/entries"> EXPLORE DESTINATIONS</a>
    </button>

    <button type="button" class="btn btn-primary btn-lg"> 
      <a href="/users"> VIEW COMMUNITY</a>
    </button>


  </div>
</div>



<div class="carousel-item">
  <img class="card-img-top" src="/static/img/background16.png" width="1000" height="1000">
  <div class="carousel-caption"> 
    <h7 class ="display-3"> Create a home for your travels</h7>
    <h3 style="color: white">Tell Your Story. Add Photos. Pin Your Cities. </h3>

    <button type="button" class="btn btn-outline-light btn-lg" style="color: #BDE0EF"> 
      <a href="/entries"> EXPLORE DESTINATIONS</a>
    </button>

    <button type="button" class="btn btn-primary btn-lg"> 
      <a href="/users"> VIEW COMMUNITY</a>
    </button>

  </div>
</div>


{#         <div class="carousel-item">
      <img src="/static/img/background4.png
    </div>

        <div class="carousel-item">
      <img src="/static/img/background5.png">
    </div>

      <div class="carousel-item">
      <img src="/static/img/background6.png">
    </div>

      <div class="carousel-item">
      <img src="/static/img/background7.png">
    </div>
    #}

  </div>
</div>






{# <!-- The Modal -->
<div class="row welcome">
  <div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
      <span class="close">&times;</span>



      <div class="container-fluid padding">
        <div class="row welcome text-center">


          <div class="col-xs-12 col-sm-6 col-md-4">

            <img src="static/img/palm.png" width="200" height="200">
            <br></br> 
            <h3>Journal from everywhere</h3>

            <p>Use Bonvoyaj to take a trip back in time. No time machine needed.</p>
          </div>



          <div class="col-xs-12 col-sm-6 col-md-4">


            <h2>Create an Account</h2>
            <div><form action="/users" method="POST" id="form" class="contact100-form validate-form">


             <p>
              Email   <input type="text" name="email">
            </p>


            <p>
              Home City  <select name="city_search" id="city_search" class="city_search_bar" multiple="multiple"></select>
            </p>



            <p>
              Username <input type="username" name="username">
            </p>



            <p>
              Password <input type="password" name="password">
            </p>

            <p>

              <button class="btn btn-primary btn-lg" type="submit">Sign Up
              </button>

            </p>
          </form>
        </div>


        <div class="col-xs-12 col-sm-6 col-md-4">


          <h2>Login</h2>
          <div><form action="/login" method="POST" id="form" class="contact100-form validate-form">

            <p>
              Email <input type="text" name="email">
            </p>

            <p>
              Password <input type="password" name="password">
            </p>

            <p>


              <button class="btn btn-primary btn-lg"  type="submit">Log In
              </button>

            </p>


          </form>
        </div>

      </div>

      <hr class="my-4">
    </div>



  </div>
</div>
</div>
</div>

</div>
 #}
{# <--- JUMBO TRON ---> #}

{# 
<div class="container-fluid">
  <div class="row jumbotron">

    <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 col-xl-10">

      <p class="lead">Bonvoyaj is a modern publishing platform for visual storytellers. It’s the simple way to create and share your unique travel stories</p>      
    </div>
    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-2">

{#       <a  href="/entries"><button type="button" class="btn btn-outline-secondary btn-lg">Get Inspired</button></a> #}
{# 
        {% if "current_user" in session%}



                <form action="/logout" method="POST">

                  <button class="btn btn-outline-secondary btn-lg" style="color:white, display:inline-block"> 
                  LOG OUT 
                 </button>
               </form>


     {%else%}



                 <button id="myBtn" type="button" class="btn btn-primary btn-lg" style="color:white"> 
                   LOG IN 
                 </button>



     {%endif%}


    </div>



  </div>
</div> #}


{#   <-- Welcome Section ---> #}

<div class="container-fluid padding">
  <div class="row welcome text-center">

    <div class="col-12">
      <h1 class="display-4"> THE ADVENTURE
      BEGINS </h1>
      <hr>
      <div class="col-12">

        <p class="lead"> Bonvoyaj is a modern publishing platform for visual storytellers. It’s the simple way to create and share your unique travel stories </p>
      </div>

    </div>
  </div>
</div>



{# 3 column for log in
 #}
{# {% if "current_user" in session%}

          <div class="col-xs-12 col-sm-6 col-md-4">

            <h2>Logout</h2>
            <form action="/logout" method="POST">
              <button class="btn btn-primary btn-lg">
              Log Out </button>

            </form>

          </div>




{%else%}

          <div class="container-fluid padding">
          <div class="row welcome text-center">


          <div class="col-xs-12 col-sm-6 col-md-4">

                  <img src="static/img/palm.png" width="200" height="200">
                  <br></br> 
                  <h3>Journal from everywhere</h3>

                  <p>Use Bonvoyaj to take a trip back in time. No time machine needed.</p>
              </div>



        <div class="col-xs-12 col-sm-6 col-md-4">


          <h2>Create an Account</h2>
             <form action="/users" method="POST">

           <p>
              Email   <input type="text" name="email">
            </p>


           <p>
          Home City  <select name="city_search" id="city_search" class="city_search_bar" multiple="multiple"></select>
          </p>



            <p>
              Username <input type="username" name="username">
            </p>



            <p>
              Password <input type="password" name="password">
            </p>

            <p>
      
            <button class="btn btn-primary btn-lg" type="submit">Sign Up
            </button>

          </p>
      </form>
    </div>


    <div class="col-xs-12 col-sm-6 col-md-4">


      <h2>Login</h2>
          <form action="/login" method="POST">
              <p>
              Email <input type="text" name="email">
              </p>

              <p>
              Password <input type="password" name="password">
              </p>

              <p>
          
         
              <button class="btn btn-primary btn-lg"  type="submit">Log In
              </button>

            </p>


          </form>
      </div>

  {%endif%}
</div>

<hr class="my-4">
</div> #}


{# <--- Three column section --> #} 



<div class="container-fluid padding">
  <div class="row welcome text-center">
    {# <div class="col-md-12"> #}

{# <div class="row test-center padding">
 #}

 <div class="col-xs-12 col-sm-6 col-md-4">

  <img src="static/img/icon1.png" width="300" height="300">

  <h3>Make maps of your journey</h3>

  <p>The unique map function of Bonvoyaj allows you to incorporate different kinds of maps in your diary, to show people where you’ve been. You can add two types of maps to your journal.</p>
</div>



<div class="col-xs-12 col-sm-6 col-md-4">

  <img src="static/img/icon3.png" width="300" height="300">

  <h3>Share your Journey</h3>

  <p>Add stories to your digital diary and determine for each chapter if you want share it or not. Public chapters are converted to a blog that you can share with family and friends.</p>
</div>

<div class="col-sm-12 col-md-4">

  <img src="static/img/icon2.png" width="300" height="300">

  <h3>Add Photos </h3>

  <p>Complete your diary by adding photos to the stories in diffent layouts. Large pictures or small pictures, portrait pictures or landscape pictures. It’s up to you!</p>
</div>

</div>

<hr class="my-4">
</div>




<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>

{% endblock %}