{% extends 'base.html' %}
{% block title %}Travel Diary{% endblock %}

{% block body %}
  <h1>Welcome!</h1>

<h2>Navigation</h2>
  <ul>
    <h3>Global Feed</h3>
    <li><a href="/">Homepage</a></li>
    <li><a href="/users">View all users</a></li>
    <li><a href="/entries">View all entries feed</a></li>
    <li><a href="/cities">View all cities</a></li>

    <h3>Personal Suitcase</h3>

    <li><a href="/map">Add to your map</a></li>
    <li><a href="/your_entries">Edit Your Entries</a></li>
  </ul>

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-3-typeahead/4.0.2/bootstrap3-typeahead.js" ></script>



  {% if "current_user" in session%}

      <h2>Logout</h2>
      <form action="/logout" method="POST">
        <button>
        Log Out </button>

      </form>



  {%else%}

      <h2>Create an Account</h2>
  <form action="/users" method="POST">

    <p>
      Email <input type="text" name="email">
    </p>

     <p>
      Home City <input type="home_city" name="home_city" id="city_search_bar" class="typeahead">
    </p>


    <p>
      Username <input type="username" name="username">
    </p>



    <p>
      Password <input type="password" name="password">
    </p>

    <p>
      
  <button class="btn btn-lg btn-primary btn-block" type="submit">Sign Up
  </button>

    </p>
  </form>


      <h2>Login</h2>
      <form action="/login" method="POST">
      <p>
      Email <input type="text" name="email">
      </p>

      <p>
      Password <input type="password" name="password">
      </p>
  
         
        <button class="btn btn-lg btn-primary btn-block" type="submit">Log In
        </button>


      </form>

  {%endif%}

 <script src="/static/js/typeahead.js"></script>


{% endblock %}