{% extends 'base.html' %}
{% block title %}Travel Diary{% endblock %}


{%block head%}

{# <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" /> <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script> #}
{# 
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-typeahead/2.11.0/jquery.typeahead.js"></script>
 #}

 <script src="/vendor/jquery-typeahead/dist/jquery.typeahead.min.js"></script> 
 
 <script src="/static/js/city_autocompletion.js"></script>

{%endblock%}

{% block body %}


{# <--- Three column section --> #} #}


<div class="container-fluid padding">

<div class="row test-center padding">


    <div class="col-xs-12 col-sm-6 col-md-4">

        <img src="static/img/icon1.png" width="300" height="300">

        <h3>Make maps of your journey</h3>

        <p>The unique map function of Bonvoyaj allows you to incorporate different kinds of maps in your diary, to show people where you’ve been. You can add two types of maps to your journal.</p>
    </div>



    <div class="col-xs-12 col-sm-6 col-md-4">

        <img src="static/img/icon3.png" width="300" height="300">

         <h3>Share your Journey</h3>

        <p>Add stories to your digital diary and determine for each chapter if you want share it or not. Public chapters are converted to a blog that you can share with family and friends.</p>
    </div>

    <div class="col-sm-12 col-md-4">

        <img src="static/img/icon2.png" width="300" height="300">

        <h3>Add Photos </h3>

        <p>Complete your diary by adding photos to the stories in diffent layouts. Large pictures or small pictures, portrait pictures or landscape pictures. It’s up to you!</p>
    </div>

</div>

<hr class="my-4">
</div>



  {% if "current_user" in session%}

      <h2>Logout</h2>
      <form action="/logout" method="POST">
        <button>
        Log Out </button>

      </form>



  {%else%}

      <h2>Create an Account</h2>
  <form action="/users" method="POST">

    <p>
      Email <input type="text" name="email">
    </p>

    <p>

     <div id="city_search_bar" >
      Home City <input type="text" name="home_city" class="typeahead">
    </div>
   </p>




    <p>
      Username <input type="username" name="username">
    </p>



    <p>
      Password <input type="password" name="password">
    </p>

    <p>
      
  <button class="btn btn-lg btn-primary btn-block" type="submit">Sign Up
  </button>

    </p>
  </form>


      <h2>Login</h2>
      <form action="/login" method="POST">
      <p>
      Email <input type="text" name="email">
      </p>

      <p>
      Password <input type="password" name="password">
      </p>
  
         
        <button class="btn btn-lg btn-primary btn-block" type="submit">Log In
        </button>


      </form>

  {%endif%}



{% endblock %}