{% extends 'base.html' %}

{% block title %}{{ entry.entry_id }} 

Blog Entry 

{% endblock %}

{% block body %}


<div class="container-fluid padding">
  <div class="row padding">
      <div class="col-md-12 col-lg-6">


<h1>Entry for city: <a href="/entries/city_specific/{{ city.city_id }}">
          
          {{ city.city_name }}
        </a></h1>

<h2>See more articles from this user:  <a href="/users/{{ user.user_id }}">
          
           {{ user.username }}
        </a></h2>





<p>Created at : {{ created_at }}<p>

<p>

  <h2>{{entry.title}}</h2>


     <p>
        Number of likes <span id="likes-counter"> {{total_ratings}} </span>
        likes
      </p>

    <button id="add-to-likes-button" class= "add-to-likes-button" value= "{{entry.entry_id}}" >
    like this entry
    </button>

 <p>
  {{ entry.blog }}

  </p>

{%if photo%} 
  {%for p in photo%}

<div>

       <img src="{{p.photo_url}}" width="700" height="500">

</div>

  {%endfor%}


{%endif%}


</p>
</p>
</p>
</div>
</div>
</div>

<!-- Scripts -->

<script src="/static/js/torate.js"></script>

{% endblock %}