{% extends 'base.html' %}

{% block title %}{{ entry.entry_id }} 

Blog Entry 

{% endblock %}

{% block body %}




      <h1 class="card-title">Entry for city: <a href="/entries/city_specific/{{ city.city_id }}">
          
          {{ city.city_name }}
      </a></h1>

      
      <h5>See more articles from this user:  <a href="/users/{{ user.user_id }}">
          
           {{ user.username }}
      </a></h5>



          <p>Created at : {{ created_at }}<p>



        
        <h1>{{entry.title}}</h1>


         <p>
        Number of likes <span id="likes-counter"> {{total_ratings}} </span>
        likes
         </p>

    <button id="add-to-likes-button" class= "add-to-likes-button" value= "{{entry.entry_id}}" >
    like this entry
    </button>

<div class="container-fluid padding">
<div class="row welcome text-center">



<p>
  {{ entry.blog }}
</p>

{%if photo%} 




  {%for p in photo%}

<div>


       <img src="{{p.photo_url}}" width="700" height="500" class="center" id="rcorners3">
       <button id="{{p.photo_id}}" class ="photo_delete"> delete </button>  


  {%endfor%}

</div>


{%endif%}


</p>

</div>
</div>


<!-- Scripts -->

<script src="/static/js/torate.js"></script>

{% endblock %}