{% extends 'base.html' %}

{% block title %}{{ user.email }} - Details{% endblock %}

{% block body %}


<h2>Navigation</h2>
  <ul>
    <h3>Global Feed</h3>
    <li><a href="/">Homepage</a></li>
    <li><a href="/users">View all users</a></li>
    <li><a href="/entries">View all entries feed</a></li>

    <h3>Personal Suitcase</h3>

    <li><a href="/map">Add to your map</a></li>
    <li><a href="/your_entries">Edit Your Entries</a></li>
  </ul>



<h1>{{ user.email }}</h1>

<p>
  <li>Email: {{ user.email }}</li>
  <li>User ID: {{user.user_id }}</li>
  <li>Username: {{user.username}}</li>
  <li>Home City: {{user.home_city_id}}</li>
  <li>Cities Travelled: {{cities}}</li>
</p>



{% endblock %}