{% extends 'base.html' %}

{% block head %}


    <title>Simple Map</title>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>


<link rel="stylesheet" href="/static/css/maps.css"/>

<script
  src="https://code.jquery.com/jquery-3.5.1.js"
  integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
  crossorigin="anonymous"></script>


{# for city search for user name change #}

{# <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" /> #}


{% endblock %}


{% block title %}{{ user.email }}User Profile{% endblock %}



{% block body %}
{# <div class="container-fluid padding">
  <div class="row welcome text-center">
      <div class="col-md-12"> #}

<div id="emoji">
<div class="container-fluid padding">
  <div class="row text-center">
  

    <div class="col-xs-12 col-sm-6 col-md-4">

          {%if profile%} 
                <img src="{{profile.profile_photo}}" width="300" height="300" alt="Avatar" class="avatar-img">
    </div>

    
      <div class="col-xs-12 col-sm-6 col-md-4">


                <h2>{{ user.username }}</h2>

                <br> {{profile.description}}</br>


                <br><img src="https://cdn1.iconfinder.com/data/icons/real-estate-84/64/x-24-512.png" width="30" height="30"> {{user.city.city_name}} </br>

                <br><a href="https://instagram.com/{{profile.instagram}}"><img src="https://image.flaticon.com/icons/svg/87/87390.svg" width="30" height="28"></a>


                <img src="/static/img/buffer.png" width="15" height="15"></a>
         

                    <a href="https://twitter.com/{{profile.twitter}}"><img src="https://webstockreview.net/images600_/round-twitter-icon-png-14.png" width="30" height="30"></a> 

              <img src="/static/img/buffer.png" width="15" height="15"></a>

                    <a href="https://{{profile.website}}"><img src="https://cdn4.iconfinder.com/data/icons/glyph-ui-document-1/128/bag-512.png" width="40" height="40"></a> 

                    <img src="/static/img/buffer.png" width="15" height="15"></a>
             

                    <a href="https://{{ user.email }} "><img src="https://cdn3.iconfinder.com/data/icons/user-interface-web-1/550/web-circle-circular-round_67-512.png" width="35" height="35"></a>  
              </br>
              
    

          {%endif%}
    

    </div>


    <div class="col-xs-12 col-sm-6 col-md-4">
  
            

<h2>most recent destinations</h2>


<br> </br>


<ul style="list-style-type:none;">

                  {% for city in cities %}

{#                         <li> {{city.city_name}} </li> #}

<li><img src="https://cdn0.iconfinder.com/data/icons/exotic-flowers-and-plants/514/monstera-512.png" width="20" height="20"> {{city.city_name}} </li>



                 {% endfor %}
</ul>


  </div>
</div>


</div>
</div>




<h2>All of your Entries</h2>


{# <---- cards ---> #}

<div class="container-fluid padding">
<div class="row padding">

<br>


  
    {% for entry, count in entries %}


          {%for p in entry.photos%}
          <div class="col-xs-12 col-sm-6 col-md-4">

              <img src="{{p.photo_url}}" width="500" height="350">
                {% endfor %}
                
{#               <div class="card-body"> #}


                <h4 class="card-title">    <a href="/entries/view_only/{{ entry.entry_id }}">{{entry.title}}    </a></h4>


                    <b>
                      Number of Likes: {{count}}
                    </b>

                    
                    {{entry.blog[:100]}}
          {#               {{entry.created_at}} #}
                
              
               

          </div>


    {% endfor %}

</br>
      </div>



</div>


              <button id="see-map" value= "{{user.user_id}}" class="btn btn-primary btn-lg">
              See where this user has gone!
              </button>
          </p>

        </div>
      </div>
    </div>


  <div id="map"></div>
    <script src="/static/js/maps.js"></script>
    <script src="/static/js/other-user-maps.js"></script>
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCx4bZy24pZfMho7vI4kWPIY7GdCFuU7bs&callback=initMap&libraries=&v=weekly"
      defer
    ></script>




{% endblock %}