{% extends 'base.html' %}
{% block title %}Your Entries{% endblock %}

{%block head%}
  <script
  src="https://code.jquery.com/jquery-3.5.1.js"
  integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
  crossorigin="anonymous"></script>


<script src="/static/js/yourentries.js"></script>

{%endblock%}

{% block body %}


<div class="container-fluid padding">
  <div class="row welcome text-center">
      <div class="col-md-12">


   <h5>All of your Entries</h5>



</div>
</div>
</div>


<button class="btn btn-primary btn-lg">
       
<a href="/map"> Create an Entry! </a>
</button>



{# <---- cards ---> #}

<div class="container-fluid padding">
<div class="row padding">

<br>


  
    {% for entry, count in entries %}


          {%for p in entry.photos%}
          <div class="col-xs-12 col-sm-6 col-md-4">

              <img src="{{p.photo_url}}" width="500" height="350">
                {% endfor %}
                
{#               <div class="card-body"> #}


                <h4 class="card-title">    <a href="/entries/view_only/{{ entry.entry_id }}">{{entry.title}}    </a></h4>


                    <b>
                      Number of Likes: {{count}}
                    </b>

                    
                    {{entry.blog[:100]}}
          {#               {{entry.created_at}} #}
                
              
               

          </div>


    {% endfor %}

</br>
      </div>



 
<hr class="my-4">


</div>


{% endblock body %}


