{% extends 'base.html' %}
{% block title %}Your Entries{% endblock %}

{% block body %}


<h2>Navigation</h2>
  <ul>
    <h3>Global Feed</h3>
    <li><a href="/">Homepage</a></li>
    <li><a href="/users">View all users</a></li>
    <li><a href="/entries">View all entries feed</a></li>

    <h3>Personal Suitcase</h3>

    <li><a href="/map">Add to your map</a></li>
    <li><a href="/your_entries">Edit Your Entries</a></li>
  </ul>

  <script
  src="https://code.jquery.com/jquery-3.5.1.js"
  integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
  crossorigin="anonymous"></script>


  <h1>All of your Entries</h1>

  <ul>
    {% for entry in entries %}
      <li>
        <a href="/entries/{{ entry.entry_id }}">
          
          {{entry.title}}
        </a>
          {{entry.blog}}
          {{entry.created_at}}

      </li>

    {% endfor %}
  </ul>



<script src="/static/js/yourentries.js"></script>

{% endblock %} 