{% extends 'base.html' %}
{% block title %}Your Entries{% endblock %}

{%block head%}
  <script
  src="https://code.jquery.com/jquery-3.5.1.js"
  integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
  crossorigin="anonymous"></script>


<script src="/static/js/yourentries.js"></script>

{%endblock%}

{% block body %}


<div class="container-fluid padding">
  <div class="row padding">
      <div class="col-md-12 col-lg-6">


  <h1>All of your Entries</h1>

  <ul>
    {% for entry in entries %}
      <li>
        <a href="/entries/{{ entry.entry_id }}">
          
          {{entry.title}}
        </a>
          {{entry.blog[:100]}}
{#           {{entry.created_at}} #}

          {%for p in entry.photos%}

               <img src="{{p.photo_url}}" width="700" height="500">

           {% endfor %}


      </li>

    {% endfor %}
  </ul>

</div>
</div>
</div>




{% endblock %} 